.mainContent{
    width: 280px;
    margin: 0 auto;
    overflow-x: hidden;
  }
  
  .mainContentWrapper{
    margin-top: -60px;
    background-image: url('../../assets/icons/shape-header2.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
  width: 100%;
  margin-bottom: 50%;
  }
  .listContent{
    list-style: none;
  }
  
  .icon1{
    display: block;
    background-image: url('../../assets/icons/reparation.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    filter: invert(0%) sepia(3%) saturate(11%) hue-rotate(183deg) brightness(6%) contrast(102%);
    position: absolute;
    top: 109%;
    transform: translateX(350%);
  }
  .icon2{
    display: block;
    background-image: url('../../assets/icons/2.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    filter: invert(0%) sepia(3%) saturate(11%) hue-rotate(183deg) brightness(6%) contrast(102%);
    position: absolute;
    top: 131%;
    transform: translateX(350%);
  }
  
  .icon3{
    display: block;
    background-image: url('../../assets/icons/3.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    filter: invert(0%) sepia(3%) saturate(11%) hue-rotate(183deg) brightness(6%) contrast(102%);
    position: absolute;
    top: 153%;
    transform: translateX(350%);
  }
  
  .icon4{
    display: block;
    background-image: url('../../assets/icons/4.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    filter: invert(0%) sepia(3%) saturate(11%) hue-rotate(183deg) brightness(6%) contrast(102%);
    position: absolute;
    top: 175%;
    transform: translateX(350%);
  }

  .listDesc{
    display: block;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    font-family: 'OpenSans-Light';
    margin-top: 40px;
    width: 300px;
    margin-left: -100%;
  }
  
  .listDesc::after{
    content: "";
    background-image: url('../../assets/icons/right-short-arrow.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 10px;
    height: 10px;
    display: block;
    margin-top: -12px;
    margin-left: 50%;
    opacity: 0.502;
  }

  @media (min-width: 768px) {
    .mainContent{
      width: 695px;
      height: 100%;
    }
    .mainContentWrapper{
      margin-top: 80px;
      /* height: 1000px; */
      background-size: 300%;
    margin-bottom: 50%;
    }

    .listContent{
      display: flex;
      flex-wrap: nowrap;
    }

    .listDesc{
      font-size: 16px;
      margin-top: 70px;
    }
    .icon1{
      top: 88%;
      margin-left: 10%;
      transform: none;
      width: 60px;
      height: 60px;
    }
    .icon2{
      top: 87.2%;
      margin-left: 60%;
      transform: none;
      width: 60px;
      height: 60px;
    }
    .icon3{
      top: 115%;
      margin-left: 10%;
      transform: none;
      width: 60px;
      height: 60px;
    }
    .icon4{
      top: 115%;
      margin-left: 60%;
      transform: none;
      width: 60px;
      height: 60px;
    }
  }
  
  @media (min-width: 1200px) {
   
}