.modalInput1 {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(214, 215, 217);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    width: 280px;
    height: 40px;
    padding: 0 6px 0 6px;
    margin-bottom: 15px;
  }


  .modalSubmitBtn{
    border-radius: 3px;
    background-color: #f3b93e;
    width: 280px;
    height: 48px;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  font-family: 'Poppins-Medium';
  text-transform: uppercase;
}

.modalForm {
  position: absolute;
  width: 300px;
  z-index: 999999999999999 !important;
  left: 37.6%;
  
  margin-top: 20%;
}

.closeBtn {
  background-image: url('../../assets/close.svg');
  width: 10px;
  height: 10px;
  fill: red;
  position: absolute;
  z-index: 9999999999999999 !important;

  transform: rotate(180deg);
}