.modalInput1 {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(214, 215, 217);
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    width: 280px;
    height: 40px;
    padding: 0 6px 0 6px;
    margin-bottom: 15px;
  }

  .modalInput1:not(:last-child){
    margin-bottom: 25px;
  }


  .modalSubmitBtn{
    border-radius: 3px;
    background-color: #f3b93e;
    width: 280px;
    height: 48px;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  font-family: 'Poppins-Medium';
  text-transform: uppercase;
}

.modalForm {
  position: absolute;
  width: 300px;
  z-index: 999999999999999 !important;
  left: 37.6%;
  
  margin-top: 24%;
}

.closeBtn {
  background-image: url('../../assets/close.svg');
  width: 10px;
  height: 10px;
  fill: red;
  position: absolute;
  z-index: 9999999999999999 !important;
  transform: rotate(180deg);
}

.errorsEmail{
  position: absolute;
  z-index: 999999999999999999999 !important;
  color: red;
  font-size: 12px !important;
  top: 45px;
}

.errorsPass{
  position: absolute;
  z-index: 999999999999999999999 !important;
  color: red;
  font-size: 12px !important;
  top: 110px;
}

.errorsName {
  position: absolute;
  z-index: 999999999999999999999 !important;
  color: red;
  font-size: 12px !important;
  top: 175px;
}

.errors:nth-of-type(2){
  top: 24px;
}

.errors:last-of-type(){
  top: 36px;
}

.resetLink {
  color: #f3b93e;
  margin-top: 10px;
}