.mainWrap{
    
    background-color: #bbbbbe;
    height: 100vh;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0px 10px 1px #ddd, 0 10px 20px #ccc;
border-radius: 25px;
width: 268px;
margin-bottom: 20px;
}