.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 26px 0;
    font-family: 'Ubuntu-Bold';
    color: #fff;
    z-index: 999999999;
}

.navbar::after{
    content: "";
    display: block;
        background-color: #726e6e;
        width: 320px;
        height: 1px;
        position: absolute;
        top: 60px;
        margin-left: -40px;
}

.logo{
    font-size: 14px;
}

.navLink{
    display: none;
}

.navButton{
    font-size: 10px;
    color: #fff;
    /* text-transform: uppercase; */
    border-radius: 18px;
    border: 2px solid #ffffff;
background-color: transparent;
width: 80px;
height: 28px;
margin-top: -6px;
display: block;
text-align: center;
pointer-events: auto !important; 
cursor: pointer !important;
z-index: 11 !important;
}

.navButton:first-of-type{
    margin-left: 20px;
}

.navButton:last-of-type{
    margin-right: -20px;
}




@media (min-width: 768px) {
    .navbar::after{
        content: "";
            width: 768px;
            margin-left: -58px;
    }
    .navButton:first-of-type{
        margin-left: 60%;
    }
    
    .navButton:last-of-type{
        margin-right: 6px;
    }
  }

  @media (min-width: 1024px){
    .navbar::after{
        content: "";
        display: block;
            width: 1024px;
            margin-left: -18%;
    }
  }
  
  @media (min-width: 1200px) {
   .navLink{
       display: flex;
       font-size: 16px;
   }
   .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo{
      margin-right: 250px;
      font-size: 16px;
  }

  .navbar::after{
    content: "";
        width: 1200px;
        margin-left: -5%;
        margin-top: 1%;
}

.navButton:first-of-type{
    margin: 0;
}

.navButton:last-of-type{
    margin: 0;
}

.navButton{
    align-self: center;
    font-size: 16px;
    width: 100px;
    height: 32px;
}

}